name: build app image & deploy to ghcr.io

on:
  push:
    branches:
      - main
    tags:
      - "v*"


env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=raw,value=main,enable={{github.ref == 'refs/heads/main'}}
            type=semver,pattern={{version}},enable={{startsWith(github.ref, 'refs/tags/v')}}
            type=raw,value=latest,enable={{startsWith(github.ref, 'refs/tags/v')}}

      - name: Build and push Docker image
        uses: docker/bake-action@v5
        with:
          files: docker-bake.hcl
          push: ${{ github.event_name == 'push' && (github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/v')) }}
          targets: mdvault
          set: |
            mdvault.tags=${{ steps.meta.outputs.tags }}
            *.cache-to=type=gha
            *.cache-from=type=gha
        env:
          GITHUB_TOKEN: ghp_000000000
          GITHUB_OWNER: fake-username
          GITHUB_REPO: fake-repo